body {
	overflow: hidden;
	margin: 0px;
	color: rgb(153,102,231);
	background-color: rgb(32,34,37);
	font-family: 'Raleway', sans-serif;
}

.topblock1 {
	height: 22px;
	width: 100%;
 	position: absolute;
 	top: 0px; left: 0px;
 	background-color: rgb(32,34,37);
}

.topblock2 {
	height: 48px;
	width: 240px;
 	position: absolute;
 	top: 22px; left: 72px;
 	background-color: rgb(47,49,54);
 	-moz-border-radius-topleft: 7px;
 	-webkit-border-top-left-radius: 7px;
 	border-top-left-radius: 7px;
}

.topblock3 {
	height: 48px;
	width: 100%;
 	position: absolute;
 	top: 22px; left: 312px;
 	background-color: rgb(54,57,63);
}

.leftblock1 {
	height: 100%;
	width: 72px;
 	position: absolute;
 	top: 22px; left: 0px;
 	background-color: rgb(32,34,37);
}

.leftblock2 {
	height: 100%;
	width: 240px;
 	position: absolute;
 	top: 70px; left: 72px;
 	background-color: rgb(47,49,54);
}

.background {
	height: 100%;
	width: 100%;
 	position: absolute;
 	top: 70px; left: 312px;
 	background-color: rgb(54,57,63);
}

#shadow {
 	position: absolute;
 	top: 70px; left: 72px;
 	height: 2px;
 	width: 100%;
}